<div class="container-fluid">
  <div class="row">
    <div class="col-4-md">
      <!--Camiseta  1-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556552561/Mujer/Camnisetas%20y%20tops/51wmBl9WyaL._UX679_.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camiseta blanca manga corta </h5>
          <p class="card-text">Camiseta blanca manga corta con letras negras en el centro y cuello redondo.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Camiseta 2-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556552558/Mujer/Camnisetas%20y%20tops/370853bdf34a05547c651969e7236217.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camiseta rayas blancas y negras</h5>
          <p class="card-text">Camiseta algodón de rayas blancas y negras con cuellos.
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Camiseta 3-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556552557/Mujer/Camnisetas%20y%20tops/camiseta-chica-tirantes-ilegal.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camiseta deporte negra</h5>
          <p class="card-text">Camiseta algodón deporte negra.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Camiseta 4-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556552455/Mujer/Camnisetas%20y%20tops/61MkIwrGHvL._UX679_.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Top blanco con rayas negras</h5>
          <p class="card-text">Top corto con cuello de barco de color blanco con rayas negras.
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Camiseta 5-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554739648/Mujer/Camnisetas%20y%20tops/summer-2018-bohemian-white-crop-top-for-women-off-shoulder-lace-splice-t-shirt-camisetas-y.jpg_640x640.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Top blanco</h5>
          <p class="card-text">Top blanco con bordados y cuello de barco.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-4-md">
      <!--Camiseta 6-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556553037/Mujer/Camnisetas%20y%20tops/66d033a0e58c4aad413f29ddea61e245.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camiseta algodón manga larga</h5>
          <p class="card-text">Camiseta algodón manga larga color verde agua.
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Camiseta 7-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556553282/Mujer/Camnisetas%20y%20tops/camisetas-cuello-redondo-manga-larga-mujer-camiseta-interior-para-dama-camisas-estam-659-500x500_0.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camiseta gris de manga larga </h5>
          <p class="card-text">Camiseta gris de manga larga con decoración de animal print.
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--camiseta 8-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556553814/Mujer/Camnisetas%20y%20tops/Mujer-Ropa-Camisetas-Camiseta-de-vestir-mujer-manga-34-con-encaje-GAKH1621.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camiseta blanca con bordados en mangas</h5>
          <p class="card-text">Camiseta de color blanco, entallada con bordados transparentes en mangas.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--camiseta 9-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556553008/Mujer/Camnisetas%20y%20tops/camiseta-mujer-pelea-como-una-chica.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camiseta manga corta algodón</h5>
          <p class="card-text"> Camiseta blanca manga corta, floja y de algodón.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--camiseta 10-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556553414/Mujer/Camnisetas%20y%20tops/camiseta-de-manga-larga-rojo-mujer-talla-34-a-48-wd367_7_fr1.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camiseta roja manga larga</h5>
          <p class="card-text">Camiseta roja manga larga floja y con escote en triángulo.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>



</div>