<div class="container-fluid">
  <div class="row">
    <div class="col-4-md">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/abrigoCategoria.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Abrigo blanco largo</h5>
          <p class="card-text">Abrigo con cuello y solapa con manga larga. Bolsillos frontales de vivo. Bajo con
            abertura en espalda. Cierre delantero cruzado con botones.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/abrigoCategoria.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Abrigo blanco largo</h5>
          <p class="card-text">Abrigo con cuello y solapa con manga larga. Bolsillos frontales de vivo. Bajo con
            abertura en espalda. Cierre delantero cruzado con botones.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
  </div>
</div>