<div class="container-fluid">
  <div class="row">
    <div class="col-4-md">
      <!--Zapatos 1-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554891540/Mujer/Zapatos/zapatos-de-tacon-con-lateral-abierto-negro-mujer-talla-34-a-48-wz517_1_fr1.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Zapatos de tacón negros</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Zapatos 2-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554891529/Mujer/Zapatos/calzado-espia-venta-zapatos-mujer-fabricante-calzado-dama-tienda-virtual-colombia-37.jpg"
          class="card-img-top" alt="...">
        <br /><br /><br />
        <div class="card-body">
          <h5 class="card-title">Zapatos con plataforma de color rojo</h5>
          <p class="card-text">
          </p>

          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Zapatos  3-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554891547/Mujer/Zapatos/Sweet_20Lemon_20Zapatos_20Mujer_20BEATA_20spartoo_20el-beige_20-_20DZSUQO32P7.jpg"
          class="card-img-top" alt="..."> <br /><br /><br /><br /> <br />
        <div class="card-body">
          <h5 class="card-title">Zapatos planos piel rosas</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Zapatos  4-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554891522/Mujer/Zapatos/Zapatos-de-Mujer-Tacones-Altos-Plataforma-Decoraci-n-de-Metal-de-Las-Mujeres-Bombas-Sandalias-Boca.jpg_640x640.jpg"
          class="card-img-top" alt="..."> <br /><br /><br />
        <div class="card-body">
          <h5 class="card-title">Zapatos de tacón negros </h5>
          <p class="card-text">
            <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Zapatos  5-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554891520/Mujer/Zapatos/ash-edgy-zapatos-mujer.jpg"
          class="card-img-top" alt="..."> <br /><br /><br />
        <div class="card-body">
          <h5 class="card-title">Mocasines negros piel con tachuela dorada</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-4-md">
      <!--ZApatos 6-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554891519/Mujer/Zapatos/5befe3870d5a099b64dc52287b2444f4.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Zapatillas rosas de</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Zapatos 7-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554891564/Mujer/Zapatos/50587-C45035-Zapatos-mujer-Verde-Mtng-191-C_P-02.jpg"
          class="card-img-top" alt="..."><br /><br />
        <div class="card-body">
          <h5 class="card-title">Sandalias piel en color verde</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Zapatos 8-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554891555/Mujer/Zapatos/50587-C42235-Zapatos-mujer-Amarillo-Mtng-191-C_P-01.jpg"
          class="card-img-top" alt="...">
        <br /><br />
        <div class="card-body">
          <h5 class="card-title">Sandalias en piel de color amarillo</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Zapatos  9-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556730247/Mujer/Zapatos/HANA-C46176-Sandalias-mujer-Hanniballaguna-191-V_G-01.jpg"
          class="card-img-top" alt="...">
        <br />
        <div class="card-body">
          <h5 class="card-title">Sandalias de color blanco con tacón decorada con tachuelas blancas</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Zapatos  10-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556730406/Mujer/Zapatos/HANIA-C46140-Zapatos-mujer-Hanniballaguna-191-V_G-01.jpg"
          class="card-img-top" alt="...">
        <br /><br />
        <div class="card-body">
          <h5 class="card-title">Sandalia de tacón de tela roja</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>



</div>
