<div class="container-fluid">
  <div class="row">
    <div class="col-4-md">
      <!--Jersey 1-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556559449/Mujer/Jers%C3%A9is%20y%20c%C3%A1rdigans/P_550507001FL.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jersey licra negro </h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jersei 2-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554740977/Mujer/Jers%C3%A9is%20y%20c%C3%A1rdigans/jerseis-y-cardigans-de-cya.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cárdigan gris de punto</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jersei 3-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554740819/Mujer/Jers%C3%A9is%20y%20c%C3%A1rdigans/Color_20hueso_20Cardigan_20de_20punto_20de_20Supertrash_20Mujer_20Jerseis_20y_20cardigans_20TDYM5835_3.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cárdigan blanco largo</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jersei  4-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556559783/Mujer/Jers%C3%A9is%20y%20c%C3%A1rdigans/camiseta-de-cuello-alto-de-punto-fino-bordeaux-mujer-talla-34-a-48-we260_7_fr1.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jersey Punto Granate</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jersey 5-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556559470/Mujer/Jers%C3%A9is%20y%20c%C3%A1rdigans/61N31hgZ9SL._UY606_.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cárdigan azul con flores </h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-4-md">
      <!--Jersey 6-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554740510/Mujer/Jers%C3%A9is%20y%20c%C3%A1rdigans/Jersey_oversize_Mujer__124__Caster_Jeans__124__Mariam_m.png"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jersey beige flojo</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jersey 7-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556560410/Mujer/Jers%C3%A9is%20y%20c%C3%A1rdigans/2018-tejidas-a-mano-cardigans-mujer-abrigo.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cárdigan gris con cierre</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jersey  8-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556559499/Mujer/Jers%C3%A9is%20y%20c%C3%A1rdigans/716ry6OxwjL._UY606_.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cárdigan abierto gris y rosa </h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jersey 9-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556560577/Mujer/Jers%C3%A9is%20y%20c%C3%A1rdigans/f9e79ad6a049b0a8ec2a00f54f100509.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cárdigan abierto amarillo</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jersey 10-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554740243/Mujer/Jers%C3%A9is%20y%20c%C3%A1rdigans/8abb80e09b1fb100dec46bb8de5b09ec.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cárdigan lana en tres colores</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>



</div>