<div class="container-fluid">
  <div class="row">
    <div class="col-4-md">
      <!--Camisa 1-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554722784/Mujer/Camisas%20y%20blusas/Moda-femininas-blusas-manga-larga-suelta-Camisas-Blusas-verano-crochet-Tops-casual-blusas-env-o-de.jpg_640x640.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camisa azul marino de seda </h5>
          <p class="card-text">Camisa seda color azul marino y manga larga semiabierta.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Camisa 2-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554722765/Mujer/Camisas%20y%20blusas/A20562360.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camisa blanca de algodón</h5>
          <p class="card-text">Camisa blanca de algodón de manga larga y cuello redondo
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Camisa 3-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554722750/Mujer/Camisas%20y%20blusas/A20802395.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camisa color mostaza</h5>
          <p class="card-text">Camisa color mostaza de manga larga.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Camisa 4-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554722756/Mujer/Camisas%20y%20blusas/camisas-blusas-off-shoulder-con-vuelos-volantes-bellas-D_NQ_NP_840301-MLV27253786111_042018-F.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camisa de mangas con volantes </h5>
          <p class="card-text">Camisa de seda azul con mangas con volantes.
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Camisa 5-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554722744/Mujer/Camisas%20y%20blusas/JWqT0MPgl8TX.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camisa azul cielo</h5>
          <p class="card-text">Camisa azul cielo, lisa y de manga larga.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-3-md">
      <!--Camisa 6-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554722740/Mujer/Camisas%20y%20blusas/Las_20mujeres_20flojas_20del_20cord_C3_B3n_20de_20camisas_20blusas_20de_20lino_20bordado_20de_20manga_20larga_20Azul_20gxw_17708.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camisa con bordados</h5>
          <p class="card-text">Camisa azul cielo de manga larga y con bordados en las hombreras.
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-3-md">
      <!--Camisa 7-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554722732/Mujer/Camisas%20y%20blusas/w19brassiabianco_fornarina_shirt_1.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camisa blanca de seda</h5>
          <p class="card-text">Camisa blanca de seda con lazo negro y de manga larga.
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-3-md">
      <!--camisa 8-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554722774/Mujer/Camisas%20y%20blusas/PlftFzCr-LOvLLkGx.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camisa azul cielo</h5>
          <p class="card-text">Camisa de tela, azul cielo, de manga larga con pequeños lunares azules.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-3-md">
      <!--camisa 9-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554722730/Mujer/Camisas%20y%20blusas/camisa-tejido-plisado-en-punos-y-bajo-estampado-azul-indigo.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camisa de seda con mangas anchas</h5>
          <p class="card-text"> Camisa de seda azul con flores y mangas anchas.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-3-md">
      <!--camisa 10-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554722730/Mujer/Camisas%20y%20blusas/00112180095502____1__516x640.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camisa de algodón con rosas rojas en mangas</h5>
          <p class="card-text">Camisa azul cielo de algodón con rosas rojas dibujadas en mangas.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>



</div>