<div class="container mt-3">
  <h3>Sobre Nosotros</h3>
  <hr>

  <p>Soy una persona apasionada de la moda pero en numerosas ocasiones, más de las que me gustaría, no tengo tiempo o
    simplemente después de un día duro de trabajo no me apetece pensar ¡qué ponerme!
    Debido a ésto busqué una solución, de ahí surgió esta App.</p>

  <p>Es creada para poder tener nuestro armario personal,
    de forma que sea ésta plataforma la que te sugiera qué ropa y complementos ponerte, de este modo ahorras tiempo en
    pensarlo día a día, y por supuesto siempre estarás ideal.

    La función de la Aplicación será que te haga difrerentes combinaciones de ropa de modo aleatorio. </p>

  <p> En principio está orientada al mercado femenino pero
    próximamente también se implemetará una sección de moda y complementos para el Hombre.</p>

  <p> Si quieres saber más puedes visitar nuestras redes sociales:</p><br /><br />

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="fab fa-facebook-square ml-3"></i>Facebook</li>
    <li class="list-group-item"> <i class="fab fa-instagram ml-3"></i>Instagram</li>
    <li class="list-group-item"> <i class="fab fa-twitter-square ml-3"></i>Twitter</li>
    <li class="list-group-item"> <i class="fab fa-linkedin ml-3"></i>Linkedin</li>
  </ul>

</div>