<div class="container-fluid mt-2">
  <h3>Nuevo usuario</h3>
  <hr>
  <form [formGroup]="registerForm">
    <div class="form-group">
      <label for="inputNombre">Usuario*</label>
      <input type="text" formControlName="user" class="form-control" id="inputNombre" placeholder="Usuario" required>
    </div>
    <div class="form-group">
      <label for="inputEmail">Email*</label>
      <input type="email" formControlName="email" class="form-control" id="inputEmail" placeholder="Email" required>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password*</label>
      <input type="password" formControlName="password" class="form-control" id="inputPassword" placeholder="Password"
        required>
    </div>
    <div class="form-group">
      <input type="checkbox" id="privacy" required /><label for="privacidad"> Acepto la <a href="/"> Política de
          Privacidad</a></label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="newsletter" /><label for="privacidad"> Deseo suscribirme a la
        NewsLetter</label>
    </div>

    <button (click)="register()" class="btn btn-primary">Registrarse</button>
  </form>
</div>