<div class="container-fluid mt-2">
  <h3>Nuevo usuario</h3>
  <hr>
  <form>
    <div class="form-group">
      <label for="inputNombre">Nombre*</label>
      <input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
    </div>
    <div class="form-group">
      <label for="inputApellido">Apellido*</label>
      <input type="text" class="form-control" id="inputApellido" placeholder="Apellido">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email*</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password*</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
      <input type="checkbox" id="privacidad" /><label for="privacidad"> Acepto la <a href="/"> Política de
          Privacidad</a></label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="privacidad" /><label for="privacidad"> Deseo suscribirme a la
        NewsLetter</label>
    </div>

    <button type="submit" class="btn btn-primary">Registrarse</button>
  </form>
</div>