<div class=" container">
  <h3>Mis Conjuntos</h3>
  <button routerLink='/insertarPrenda'> insertar una prenda</button>
  <button class="ml-3" routerLink='/misPrendas'> Mis prendas</button>
  <hr>
  <div class="card text-center">
    <div class="card-header">
      ....
    </div>
    <div class="card-body">
      <h5 class="card-title">Conjunto noche</h5>
      <a routerLink='/nochen' class="btn btn-primary" routerLink='/noche'>Ver mi conjunto</a>
    </div>
    <div class="card-footer text-muted">
      ...
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">
      ....
    </div>
    <div class="card-body">
      <h5 class="card-title">Conjunto día</h5>
      <a routerLink='/dia' class="btn btn-primary">Ver mi conjunto</a>
    </div>
    <div class="card-footer text-muted">
      ...
    </div>
    <div class="card text-center">
      <div class="card-header">
        ....
      </div>
      <div class="card-body">
        <h5 class="card-title">Conjunto deporte</h5>
        <a routerLink='/deporte' class="btn btn-primary">Ver mi conjunto</a>
      </div>
      <div class="card-footer text-muted">
        ...
      </div>
    </div>

  </div>