<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <img src="assets/img/abrigoCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary" style="color:black" routerLink="/tag">

                Chaquetas y abrigos
            </a>
        </div>
        <div class="col-lg-4">
            <img src="assets/img/camisetaCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary " routerLink="/tag">
                Camisetas y tops
            </a>
        </div>
        <div class="col-lg-4">
            <img src="assets/img/camisaCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary" style="color:black" routerLink="/tag">

                Camisas y blusas
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4">
            <img src="assets/img/jerseyCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary " style="color:black" routerLink="/tag">
                Jerséis y Cárdigans
            </a>
        </div>
        <div class="col-lg-4 mt-1">
            <img src="assets/img/vestidoCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary " style="color:black" routerLink="/tag">
                Vestidos y monos
            </a>
        </div>
        <div class="col-lg-4 mt-1">
            <img src="assets/img/faldaCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary " routerLink="/tag">
                Faldas
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4 mt-1">
            <img src="assets/img/jeansCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary " style="color:black" routerLink="tag">
                Jeans
            </a>
        </div>
        <div class="col-lg-4 mt-1">
            <img src="assets/img/shortCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary " routerLink="tag">
                Shorts
            </a>
        </div>
        <div class="col-lg-4">
            <img src="assets/img/zapatos1.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary " routerLink="tag">
                Zapatos
            </a>
        </div>







    </div>
</div>