<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <img src="assets/img/abrigoCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary" style="color:black" routerLink="/chaquetasyabrigos">

                Chaquetas y abrigos
            </a>
        </div>
        <div class="col-lg-4">
            <img src="assets/img/camisetaCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary " routerLink="/camisetas">
                Camisetas y tops
            </a>
        </div>
        <div class="col-lg-4">
            <img src="assets/img/camisaCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary" style="color:black" routerLink="/camisas">

                Camisas y blusas
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4">
            <img src="assets/img/jerseyCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary " style="color:black" routerLink="/jerseis">
                Jerséis y Cárdigans
            </a>
        </div>
        <div class="col-lg-4 mt-1">
            <img src="assets/img/vestidoCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary " style="color:black" routerLink="/vestidos">
                Vestidos y monos
            </a>
        </div>
        <div class="col-lg-4 mt-1">
            <img src="assets/img/faldaCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary " routerLink="/faldas">
                Faldas
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4 mt-1">
            <img src="assets/img/jeansCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary " style="color:black" routerLink="/jeans">
                Jeans
            </a>
        </div>
        <div class="col-lg-4 mt-1">
            <img src="assets/img/shortCategoria.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary " routerLink="/shorts" style="color:black">
                Shorts
            </a>
        </div>
        <div class="col-lg-4">
            <img src="assets/img/estiletoportada.jpg" class="img-fluid" />
            <a class="carousel-caption btn btn-outline-secondary " routerLink="/zapatos" style="color:black">
                Zapatos
            </a>
        </div>







    </div>
</div>