<div class="container-fluid">
  <div class="row">
    <div class="col-4-md">
      <!--Vestido 1-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554744151/Mujer/Vestidos%20y%20monos/P_554566890FL.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido largo de tela colorazul </h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Vestido 2-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554891959/Mujer/Vestidos%20y%20monos/MONO_XI_CIRUELA_Mono_largo_ciruela_escote_asimetrico_una_manga_para_celebracion_mujer_THE-ARE_grande.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mono largo color ciruela escote asimétrico</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Vestido 3-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554743100/Mujer/Vestidos%20y%20monos/Vestidos-con-mo_C3_B1os-6.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido corto negro ajustado,con lazo en el hombro</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Vestido 4-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554743168/Mujer/Vestidos%20y%20monos/Vestidos-con-mo_C3_B1os-3.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido corto rojo ajustado,con lazo en la cintura</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary" routerLink='/noche'>Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Vestido 5-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554743848/Mujer/Vestidos%20y%20monos/Vestidos-con-mo_C3_B1os.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido corto azul marino de vuelo.</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-4-md">
      <!--Vestido  6-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556562035/Mujer/Vestidos%20y%20monos/de2f3dd9d0a25f1a07a38c95fc867d81.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido de fiesta largo en color violeta</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Vestido  7-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556562329/Mujer/Vestidos%20y%20monos/vestidos-de-fiesta-para-mujeres-gorditas3.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido de fiesta largo en seda y color gris</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Vestido 8-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556562388/Mujer/Vestidos%20y%20monos/966-vestidos-de-fiesta-para-gorditas-jovenes-39613-1.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido de fiesta largo color azul brillante</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Vestido 9-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554891972/Mujer/Vestidos%20y%20monos/Monos_20Largos_20b_20Q2_20b_20Mujer_20-_20Mono_20Largo_20Cruzado_20Gris_20Con_20Detalle_20Bolsillo_20Salida_20980.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mono largo de licra color marrón</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Vestido 10-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556562358/Mujer/Vestidos%20y%20monos/t30_11_16995.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido fiesta negro corto con transparencias</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>