<div class="container-fluid">
  <div class="row">
    <div class="col-4-md">
      <!--Short  1-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556629641/Mujer/Shorts/the-chica-shorts-in-purse-print-a47257-800x1200-0.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Short ajustado de tela. </h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Short 2-->
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556629656/Mujer/Shorts/S924308432002.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Short jean cintura baja.</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Short 3-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556629509/Mujer/Shorts/the-chica-shorts-1106-800x800-0.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Short de tela en color negro.</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Short  4-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556552455/Mujer/Camnisetas%20y%20tops/61MkIwrGHvL._UX679_.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Short jean cintura alta con roturas en los bolsillos.</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Short 5-->
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556629691/Mujer/Shorts/S945518432000_h.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Short jean con acabados en tela blanca.</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-4-md">
      <!--Short 6-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556629716/Mujer/Shorts/depositphotos_8218277-stock-photo-girl-in-jeans-shorts.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Short jean cintura baja</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Short  7-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556629670/Mujer/Shorts/12-20-18_Studio_3__RM_14-14-48_AB007ST_Navy_Combo_1908_NT.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Short de tela, flojo con rayas </h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Short 8-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556630897/Mujer/Shorts/natalia-a47271-800x1200-0.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Short jean </h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Short 9-->
      <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Short 10-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556631141/Mujer/Shorts/como_ponerse_en_forma_practicando_boxeo_552830090_800x.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Short tela con cuadrados negros y blancos</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>



</div>