<div class="container-fluid">
  <div class="row">
    <div class="col-4-md">
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556552557/Mujer/Camnisetas%20y%20tops/camiseta-chica-tirantes-ilegal.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camiseta deporte negra</h5>
          <p class="card-text">Camiseta algodón deporte negra.

          </p>

        </div>
      </div>
    </div>
    <div class="col-4-md">
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554742833/Mujer/Shorts/eclipse-womens-2-in-1-running-shorts-G8O47A.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pantalón corto deporte negro</h5>
          <p class="card-text"> Pantalón corto deporte negro cómodo.

          </p>
        </div>
      </div>
    </div>
  </div>
</div>