<div class="container-fluid">
  <div class="row">
    <div class="col-4-md">
      <!--Jeans 1-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554723476/Mujer/Jeans/10-29-18_Studio_2_10-57-59_P633_MediumBlueWash0475_JD_760x.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jeans ajustado cintura alta de licra.</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jeans 2-->
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554723498/Mujer/Jeans/0860103680290NEW_00_349.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jeans tobilleros con roturas</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jeans 3-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556617317/Mujer/Jeans/ae073a682c07ef3491b1a09398a7dbe0.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jeans cintura alta azul marino</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jeans 4-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556616320/Mujer/Jeans/bd78b3c1c8a8cc7c6ae889f580da4ff2.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jeans tobillero color blanco </h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jeans  5-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556616321/Mujer/Jeans/9ee9d4f5e3ba222dda12ff5c60493b6d.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jeans lisos de licra y color azul marino.</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-4-md">
      <!--Jeans 6-->
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556617134/Mujer/Jeans/61ZMtijWZ4L._UX522_.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jeans licra con roturas en la parte de delantera.</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jeans 7-->
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554723570/Mujer/Jeans/_104601010.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jeans 8-->
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556617142/Mujer/Jeans/QUE210180069-16-1.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jeans 9-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556617151/Mujer/Jeans/Jeans-Mujeres_GF2100324N003_AZM_1.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Jeans 10-->
      <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jeans azul marino</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>



</div>