<div class="container mt-2">
  <h3>Login de usuario</h3>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf='login===false'>
    Usuario o contraseña incorrectos
  </div>
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="mail">Email address</label>
      <input type="email" class="form-control" formControlName='email' id="email" aria-describedby="emailHelp"
        placeholder="Enter email">

      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="pass">Password</label>
      <input type="password" formControlName='clave' class="form-control" id="password" placeholder="Password">

    </div>

    <button (click)="login()" color="primary">Iniciar sesión</button>
  </form>
</div>

<!-- Ajustadas etiquetas, ids simplificados-->
<!--routerLink='home'-->