<nav class="navbar navbar-expand-lg navbar-light sticky-top navColor  ">
  <a class="navbar-brand" href="#"><img src="./assets/img/Logoblanco.png" width="80px" style="border-radius: 100px"
      alt="logo" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Inicio </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Mujer
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="dropdown-item"><a [routerLink]="['/camisas']">'Camisas y blusas</a></li>
          <li class="dropdown-item"><a [routerLink]="['/camisetas']">Camisetas y tops</a></li>
          <li class="dropdown-item"><a [routerLink]="['/chaquetasyabrigos']">Chaquetas y abrigos</a></li>
          <li class="dropdown-item"><a [routerLink]="['/jerseis']">Jerseis y cárdigans</a></li>
          <li class="dropdown-item"><a [routerLink]="['/vestidos']">Vestidos y monos</a></li>
          <li class="dropdown-item"><a [routerLink]="['/faldas']">Faldas</a></li>
          <li class="dropdown-item"><a [routerLink]="['/jeans']">Jeans</a></li>
          <li class="dropdown-item"><a [routerLink]="['/shorts']">Shorts</a></li>
          <li class="dropdown-item"><a [routerLink]="['/zapatos']">Zapatos</a></li>

        </ul>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="about">Sobre Nosotros </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="conjuntos">Mis conjuntos </a>
      </li>

    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="form-control mr-sm-2" routerLink="login">Login</a>
      <a class="form-control mr-sm-2" routerLink="registro">Registrarse</a>
    </div>
  </div>
</nav>