<div class="container-fluid">
  <div class="row">
    <div class="col-4-md">
      <!--Chaqueta 1-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556555868/Mujer/Chaquetas%20y%20abrigos/00106472000014_42_1__516x640.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chaqueta corte traje color blanco </h5>
          <p class="card-text">Chaqueta corte traje de color blanco con decorados plateados en las solapas.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Chaqueta 2-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556555849/Mujer/Chaquetas%20y%20abrigos/chaqueta-bomber-only-evelyn-mujer.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cazadora verde militar</h5>
          <p class="card-text">Cazadora color verde militar con cremallera.
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Cazadora 3-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556555830/Mujer/Chaquetas%20y%20abrigos/chaqueta-mujer-de-cuero-cruzada-trenzada.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cazadora cuero negra</h5>
          <p class="card-text">Cazadora cuero negra con tachuelas en plata

          </p>
          <a href="#" class="btn btn-primary" routerLink='/noche'>Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Chaqueta 4-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554723330/Mujer/Chaquetas%20y%20abrigos/D_NP_996625-MCO28178923777_092018-Q.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Anorak negro con capucha </h5>
          <p class="card-text">Anorak negro con capucha y cremallera.
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Chaqueta 5-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554723310/Mujer/Chaquetas%20y%20abrigos/18WWEWBM_4017.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Abrigo azul de paño</h5>
          <p class="card-text">Abrigo azul de paño con cuellos.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-4-md">
      <!--Chaqueta 6-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554723291/Mujer/Chaquetas%20y%20abrigos/abrigo-chaqueta-chaqueton-crochet-otakulandia.es_.-4.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Abrigo de lana con cuellos de pelo</h5>
          <p class="card-text">Abrigo de lana color azul con cuellos de pelo y botones.
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Chaqueta 7-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554723225/Mujer/Chaquetas%20y%20abrigos/Nuevo-2016-invierno-mujeres-abrigos-mujer-chaquetas-Real-gran-mapache-cuello-de-piel-de-algod-n.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Parka </h5>
          <p class="card-text">Parka color verde.
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--chaqueta 8-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554723210/Mujer/Chaquetas%20y%20abrigos/29601-100_m1_m.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Abrigo paño beige</h5>
          <p class="card-text">Abrigo paño beige con cuadrados.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--chaqueta 9-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554723197/Mujer/Chaquetas%20y%20abrigos/48460455c1597c09b1259061f421d3e9.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gabardina negra</h5>
          <p class="card-text"> Gabardina negra con botones y cinturón.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--chaqueta 10-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554723186/Mujer/Chaquetas%20y%20abrigos/HM-Chaquetas-y-Abrigos-2013-2.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gabardina beige </h5>
          <p class="card-text">Gabardina beige con botones y cinturón.

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>



</div>