<div class="container-fluid">
  <div class="row">
    <div class="col-4-md">
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554743168/Mujer/Vestidos%20y%20monos/Vestidos-con-mo_C3_B1os-3.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido corto rojo ajustado,con lazo en la cintura</h5>
          <p class="card-text">
          </p>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556555830/Mujer/Chaquetas%20y%20abrigos/chaqueta-mujer-de-cuero-cruzada-trenzada.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cazadora cuero negra</h5>
          <p class="card-text">Cazadora cuero negra con tachuelas en plata

          </p>

        </div>
      </div>
    </div>
  </div>
</div>