<div class="container-fluid">
  <div class="row">
    <div class="col-4-md">
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556553037/Mujer/Camnisetas%20y%20tops/66d033a0e58c4aad413f29ddea61e245.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camiseta algodón manga larga</h5>
          <p class="card-text">Camiseta algodón manga larga color verde agua.
          </p>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556617134/Mujer/Jeans/61ZMtijWZ4L._UX522_.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jeans licra con roturas en la parte de delantera.</h5>
          <p class="card-text">
          </p>

        </div>
      </div>
    </div>
  </div>
</div>