<div class="container-fluid">
  <div class="row">
    <div class="col-4-md">
      <!--Falda 1-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554739319/Mujer/Faldas/d63e63b62807475794d1baa90c742af6.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Falda elegante por debajo de la rodilla de color blanco y con rosas rojas </h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--falda 2-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554739355/Mujer/Faldas/Falda_olanes_crepe_blanca_1_L06739_600x.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Falda blanca ajustada en la cintura y con volantes en la zona inferior </h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Falda 3-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554739392/Mujer/Faldas/90ae16d5d8895a779d0a490c4299fd38.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Falda roja ajustada por encima de la rodilla.</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Falda 4-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554739273/Mujer/Faldas/e0f2cd15c17d4adcc0850b3942346f14.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Falda recta con vuelo por debajo de la rodilla, de color blanco y con flores negras.
          </h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Falda 5-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1554739217/Mujer/Faldas/falda-de-padel-blanca-y-negra.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Falda de padel blanca y negra</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-4-md">
      <!--Falda 6-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556614707/Mujer/Faldas/Trajes-para-mujer-gordita-1.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Falda elegante, de corte recto de color negro por debajo dela rodilla</h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Falda 7-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556614707/Mujer/Faldas/faldas-para-gorditas-12.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Falda de licra, ajustada y por debajo de la rodilla de color azul y con flores naranjas
          </h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Falda 8-->
      <div class="card" style="width: 18rem;">
        <img
          src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556614709/Mujer/Faldas/FaldasEstampadasParaGordita-8.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Falda de vuelo por debajo de la rodilla beige con lunares blancos</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Falda 9-->
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556615266/Mujer/Faldas/look-con-falda-lady.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Falda elegante por debajo de la rodilla de color pastel con flores en la parte inferior
          </h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4-md">
      <!--Falda 10-->
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/dokce2yxs/image/upload/v1556615269/Mujer/Faldas/51lBcX0E5-L._AC_US218_.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Falda elegante por debajo de la rodilla de rayas blancas y negras, más larga en la
            parte de atrás dando una sensación de cola.</h5>
          <p class="card-text">

          </p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>

  </div>



</div>